*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    font-family: sans-serif;
}

.navbar .logo{
    display: flex;
    padding: -2% 2%;
}

.container{
    display: flex;
    text-align: center;
}

.btn{
    color: brown;
}





